@layout AuthLayout

<div class="default-input-card">
    <MudCard>
        <MudForm Model="@_changePasswordRequest" @ref="_form" Validation="@(_changePasswordRequestValidator.ValidateValue)" ValidationDelay="1000">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Change password</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudStack Spacing="3">
                    <MudTextField Label="Email"
                                  @bind-Value="_changePasswordRequest.EmailAddress"
                                  For="@(() => _changePasswordRequest.EmailAddress)"
                                  Mask="@emailMask"
                                  HelperText="@emailMask.Mask"
                                  Immediate="true" />
                    <MudTextField Label="Current Password"
                                  @bind-Value="_changePasswordRequest.CurrentPassword"
                                  For="@(() => _changePasswordRequest.CurrentPassword)"
                                  InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility"
                                  Immediate="true" />
                    <MudTextField Label="New Password"
                                  @bind-Value="_changePasswordRequest.NewPassword"
                                  For="@(() => _changePasswordRequest.NewPassword)"
                                  InputType="@_passwordInput"
                                  Immediate="true" />
                    <MudTextField Label="Confirm New Password"
                                  @bind-Value="_changePasswordRequest.ConfirmNewPassword"
                                  For="@(() => _changePasswordRequest.ConfirmNewPassword)"
                                  InputType="@_passwordInput"
                                  Immediate="true" />
                </MudStack>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="(() => ChangeUserPassword())">Change Password</MudButton>
            </MudCardActions>
        </MudForm>
    </MudCard>
</div>