@layout AuthLayout

<div class="default-input-card">
    <MudCard>
        <MudForm Model="@_resetPasswordRequest" @ref="_form" Validation="@(_resetPasswordRequestValidator.ValidateValue)" ValidationDelay="1000">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Reset password</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudStack Spacing="3">
                    <MudTextField Label="Email"
                                  @bind-Value="_resetPasswordRequest.EmailAddress"
                                  For="@(() => _resetPasswordRequest.EmailAddress)"
                                  Mask="@emailMask"
                                  HelperText="@emailMask.Mask"
                                  Immediate="true" />
                    <MudTextField Label="Reset Token"
                                  @bind-Value="_resetPasswordRequest.ResetToken"
                                  For="@(() => _resetPasswordRequest.ResetToken)"
                                  Immediate="true" />
                    <MudTextField Label="New Password"
                                  @bind-Value="_resetPasswordRequest.NewPassword"
                                  For="@(() => _resetPasswordRequest.NewPassword)"
                                  InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility"
                                  Immediate="true" />
                    <MudTextField Label="Confirm New Password"
                                  @bind-Value="_resetPasswordRequest.ConfirmNewPassword"
                                  For="@(() => _resetPasswordRequest.ConfirmNewPassword)"
                                  InputType="@_passwordInput"
                                  Immediate="true" />
                </MudStack>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="(() => ResetUserPassword())">Reset Password</MudButton>
            </MudCardActions>
        </MudForm>
    </MudCard>
</div>